<li>
  <%= gravatar_for user%>
  <%= link_to user.name, user %>
  <% if currentuser.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
