
<head>
  <style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Merriweather');

    h1{
      text-align: center;
      font-family: 'Merriweather', serif;
      color: black;
    }

    #nome{
      text-align: center;
      font-family: 'Merriweather', serif;
      margin: auto;
      color: black;
    }
    #contenitore{
      background-color:#A9A9A9;
      width:360px;
      height:200px;
      margin:10 auto;
      margin-top:50px;
      text-align:center;
      border: black 2px solid;
      border-radius: 10px 10px 10px 10px;
    }
    #par2{
      text-align: center;
      font-family: 'Merriweather', serif;
      margin: auto;
      color: black;
    }
    #par1{
      text-align: center;
      font-family: 'Merriweather', serif;
      margin: auto;
      color: black;
    }
  </style>
</head>


<body bgcolor="#A9A9A9">
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

    <div id= "contenitore">
      <br />
      <div id = "nome">
      <%= f.label :name %>
      <%= f.text_field :name, id: 'name', class: 'form-control' %>
      <br>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email, id: 'email', class: 'form-control' %>
      <br>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, id: 'password', class: 'form-control' %>
      <br>
      <br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control' %>
      <br>
      </div>
    </div>



      <br>
      <div id="par1">
        <center>
          <%= f.submit "Registrati", class: "btn btn-primary"  %>
        </center>
      </div>

    <% end %>
    <br />
    <div id="par2">
      <center>
        <p>Gia registrato? <%= link_to "Loggati!", login_path %></p>
      </center>
    </div>

  </div>
</div>
</body>
